.cs-tabs-root {
    position: relative; 
    bottom: 0;
    background-color: #efdbff;
}

.ant-tabs-nav { 
    margin: 0 !important;
}

.ant-tabs-tab { 
    border-radius: 10px 0 0 0 !important;
}

.ant-tabs-nav-add { 
    border-radius: 10px 0 0 0 !important;
}