@import "~antd/lib/style/themes/default.less";

.cs-root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  // grid-template-rows: 20vh 55px 1fr;
  height: calc(100vh - var(--navbar-height));

  --cs-top-cont-height: 28%;
  --cs-tabs-cont-height: 40px;
  --cs-bottom-cont-height: calc(100% - var(--cs-top-cont-height) - var(--cs-tabs-cont-height));
}


.cs-top-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.7rem;
  position: relative;
  height: var(--cs-top-cont-height);
}

.cs-degree-cont {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.cs-search {
  padding: 1em;
  background-color: blue;
}

.cs-bottom-cont {
  display: grid;
  grid-template-columns: 20vw auto;
  height: var(--cs-bottom-cont-height);
}

.cs-toggle-locked {
  align-self: flex-end;
}

.dark {
  .cs-top-cont {
    background-color: @purple-7;/* #3d1258;*/
  }

  .cs-tabs-root {
    background: #531dab;
  }

  .cs-tab {
    background-color: aquamarine;
  }
}

.light {
  .cs-top-cont {
    background-color: @purple-2;
  }
}

.collapsible-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: bottom;
  border-bottom: #d9d9d9 solid 1px; //grey-5
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  transition: 250ms;
  cursor: pointer;
}

.collapsible-header:hover {
  background-color: #c3c3c37d;
  transition: 250ms;
  cursor: pointer;
}


.collapsible-button {
  transition: 200ms;
  transform: rotate(-90deg);
}


.collapsible-button-collapsed {
  transition: 200ms;
  transform: rotate(0);
}

.collapsible-content {
  transition: 250ms;
  width: 100%;
  display: flex;
  align-items: left;
  flex-wrap: wrap;
}


.collapsible-content-collapsed {
  height: 0px;
  opacity: 0px;
  display: none;
  transition: 250ms;
  width: 100%;
}
