.progressBarWrapper {
  width: 100%;
  background-color: "#ffff";
  border-radius: 40px;
}

.progressBar {
  height: 100%;
  border-radius: 40px;
  text-align: "right";
}

.progressText {
  padding: 10px;
  color: "#000";
  font-weight: 900px;
}