// OptionsHeader less stylings

// SettingsMenu, SaveMenu and HelpMenu less stylings
.content {
  .settingsMenu {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }
  
  .settingsTitleContainer {
    width: auto;
  }

  .settingsTitle {
    font-size: 1.75em;
    margin-bottom: 0;
    text-align: left;
  }

  .settingsDivider {
    margin: 0.5em 0 0.5em 0;
  }
  
  .settingsSubtitle {
    font-size: 1.1em;
    margin-bottom: 0;
  }
}
