.steps-dropdown {
    font-size: 24px;
    border: #f0f0f0 solid 1px;
    padding: 8px;
    padding-left: 15px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.steps-dropdown:focus {
    outline: none !important;
    border: #9254de solid 1px;
}

.steps-action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.degree-step-root {
    padding: 5px;
    position: relative;
}
.degree-search-input {
    font-size: 24px;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    padding-left: 15px;
    border: black solid 1px;
}

.degree-search-input:focus {
    outline: none !important;
    border: #9254de solid 1px;
}

.degree-search-results { 
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 200px;
}
.degree-option {
   border: none;
   margin: 3px;
   padding: 3px;
   padding-left: 5px;
   background-color: #fafafa;
}

.degree-next-btn {
    position: absolute;
    right: 0px;
}

