.cont {
  padding: 1.6rem 2rem 1.6rem 2rem;
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.contents {
  margin-right: 4rem;
  width: 75%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.code {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.name {
  font-size: 1.5rem;
}

.subhead {
  font-size: 1rem;
}

.btn {
  margin-bottom: 1.1rem;
}

.list {
  margin-bottom: 1rem;
}

.alert {
  margin-bottom: 2rem;
}
