.container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 40vh auto
}

.topCont {
  background-color: #efdbff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}

.degreeCont {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.zero {
  margin: 0;
  padding: 0;
}

.major {
  margin: 0 0 0.15rem 1rem;
  color: #595959;
}

.searchCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottomCont {
  display: flex;
  flex-direction: row;
}

.CDcont {
  padding: 2rem;
}