.cs-description-root {
  padding: 1.6rem 2rem 1.6rem 2rem;
  display: flex;
  flex-direction: row;
}
.cs-description-content {
  margin-right: 4rem;
  width: 75%;
  position: relative;
}
.cs-course-attr {
  border-bottom: #d9d9d9 solid 1px; //grey-5
  padding-bottom: 10px;
  padding-top: 10px;
}
.cs-final-attr {
  padding-top: 10px;
}
.cs-desc-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.course-tag-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.dark {
  .ant-typography {
    color: white
  }
}
