
.edit-mark {
    display: flex;
    flex-direction: column;


    border: solid black 1px;
    margin: auto;
    border-radius: 0.25em;

    // width: 320px;

    // >* {
    //     border: solid lightblue 1px;
    // }
}

