@import "~antd/lib/style/themes/default.less";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    background-color: @purple-5;
    height: 70px;
  }
  
  .header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .logo {
    display: flex;
    flex-direction: row;
  }