@import "~antd/lib/style/themes/default.less";

.header {
    display: flex !important;
    flex-direction: row !important; 
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: @purple-5 !important;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} 

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}