.unplannedBox {
  grid-row-start: 2;
  grid-row-end: span 10;
  grid-column-start: 5;
  margin: 1em;
  border: 1px solid #D9D9D9;
  border-radius: 15px;
  padding: 15px;
  place-self: stretch;
  transition: 200ms ease-out;
}

.summerUnplannedBox {
  grid-column-start: 6;
  margin: 0.5em;
  border: 1px solid #D9D9D9;
  padding-top: 0.5em;
}
