@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";
// @import "~antd/dist/antd.dark.css";

// .ant-collapse-header {
//   background-color: black;
//   color: white;
// }

body {
  margin: 0;
  padding: 2em;
  .card {
    // margin-right: 1em;
    width: 20em;
  }
  .centerCol {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .textLink {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    &:hover {
      color: @purple-4;
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 10em 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
    max-width: 100em;
    margin: auto auto;
  }
  .gridItem {
    font-size: 30px;
    text-align: center;
  }

  .termBubble {
    margin: 0.5em;
    font-size: 30px;
    min-height: 10em;
    color: white;
    list-style: none;
    padding: 1.2em;
    border-radius: 3em;
    transition: 200ms ease-out;
  }

  .course {
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.7em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 1em;
    max-width: 20em;
    margin-top: 1em;
  }

  .container {
    display: flex;
    align-items: center;
    margin-top: 2em;
  }

  //   .badge {
  //     font-size: 1rem;
  //     width: 2em;
  //     height: 2em;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     border-color: #d170ff;
  //   }
}

.dark {
  background-color: #1d1f20;
  color: white;
  .text {
    color: #f0f0f0; // gray-4
  }
  .secondaryText {
    color: #737372;
  }
  .card {
    background-color: #17191a;
  }

  .termBubble {
    background-color: #242728;
  }

  .course {
    // background-color: #9254de;
    background: linear-gradient(86.28deg, #7f76fd 4.34%, #4739e0 100%);
  }

  .droppable {
    background-color: #2b2f30;
  }

  .plannerDrawer {
    background-color: #17191a;
  }

  .collapse {
    background-color: #1d1f20;
    border: #17191a;
    margin-bottom: 1em;
  }

  .ant-collapse-content-box {
    background-color: #26292b;
  }
}

.light {
  background-color: #ffffff; //gray-2
  color: #323739;
  .text {
    color: #323739;
  }
  .secondaryText {
    color: #737372;
  }
  .card {
    background-color: #f0f0f0; // gray-4
  }
  .course {
    // background-color: #be7df2;
    background-color: #d9d9d9;
    // color: white;
  }

  .termBubble {
    // background-color: #faf5fc;
    // border: 0.5px solid #e6c3f8;
    border: 0.5px solid #d9d9d9;
    // filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.25));
  }

  .droppable {
    background-color: #dbffec;
    border-style: none;
  }

  .plannerDrawer {
    background: #ffffff;
  }

  .collapse {
    background-color: #9685f3;
    margin-bottom: 1em;
  }
  .ant-collapse-content-box {
    // background-color: #faf5fc;
  }
}
