@import "~antd/lib/style/themes/default.less";

.selector {
    font-size: 'xx-large';
}

.option {
    font-size: 'xx-large';
}
.ant-select-customize-input {
    height: 50px;
    font-size: 'xx-large';
}

.dark {
    .option {
        background-color: #242728;
    } 
    .selector {
        background-color: #242728;
    }
    
}

// .light {

// }