@import "~antd/lib/style/themes/default.less";
.degree-selector-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.selector {
    min-width: 400px;
    border-bottom: 1px solid black;
    margin: 20px !important;
}

.option {
    font-size: 'xx-large';
}

.next-btn { 
    max-width: 400px;
}

.dark {
    .option {
        background-color: #242728;
    } 
    .selector {
        background-color: #242728;
    }
    
}
